@import "variables";
@mixin activityList($type) {
  background-repeat: no-repeat;
  padding-left: 50px;
  background-position: 0 5px;
  @if($type=="activity-outcome"){
    background-image: url($activity_outcome_logo);
  }
  @if($type=="resources-required"){
    background-image: url($resources_required_logo);
  }
  @if($type=="suggested-duration"){
    background-image: url($suggested_duration_logo);
  }
  @if($type=="skills-concepts"){
    background-image: url($skills_concepts_logo);
  }
  @if($type=="main-activity"){
    background-image: url($main_activity_logo);
  }
}
