$torch_red:#FF004D;
$monza:#B30033;
$buddha_gold:#b39900;
$harlequin:#33FF00;
$brick_red:#B42C47;
$cinderella:#FDE8E9;
$caper:#E3EDB9;
$celery:#9BCB4F;
$wisp_pink:#FDECEC;
$white:#fff;
$black:#000;

$template_path:"templates/modern/";

$bannerImage:$template_path+"images/banner.jpeg";
$suggested_plan_background:$template_path+"images/suggested-plan.jpg";
$activity_outcome_logo:$template_path+"images/activity-outcome-logo.jpg";
$resources_required_logo:$template_path+"images/resources-required-logo.jpg";
$suggested_duration_logo:$template_path+"images/suggested-duration-logo.jpg";
$skills_concepts_logo:$template_path+"images/activity-outcome-logo.jpg";
$main_activity_logo:$template_path+"images/main-activity-logo.jpg";

$suggested_plan_width:223px;
$suggested_plan_height:39px;

$chapter_name_size:50px;
$chapter_name_letter_spacing:10px;
$chapter_name_color:$brick_red;
$chapter_name_font_weight:600;

$chapter_main_header_size:20px;
$chapter_main_header_letter_spacing:10px;
$chapter_main_header_color:$white;
$chapter_main_header_background_color:$celery;


$sub_heading:16px;
$sub_heading_spacing:2px;

$running_text_fontsize:16px;
$running_text_letter_spacing:0;
$running_text_word_spacing:16px;
$running_text_para_spacing:16px;
$running_text_color:$black;

$bullet_spacing_16:14px;

$table_heading_background:$brick_red;
$table_heading-font-color:$white;

$table_row_odd_strip_color:$cinderella;
$table_row_even_strip_color:$caper;




