body, html {
  padding: 0;
  height: 100%;
}

body {
  padding: 0 10px;
  #main {
    height: 100%;
    .app-container {
      height: 100%;
      border: 1px solid #eee;
      nav.tool-bar {
        height: 10%;
      }
      .editor-area {
        height: 90%;

        .tree-view {
          height: 100%;
          width: 184px;
          overflow-y: scroll;
          overflow-x: hidden;
          padding-bottom: 4px;
          padding-top: 4px;
          margin: 0
        }
        .editor-view {
          position: relative;
          width: 956px;
          height: 630px;
          /*          height: 100%;
                    width:75% !important;*/
          margin: 0 auto;
          overflow: hidden;
        }
      }
    }
  }
  .modal-content {
    .chapter-frame {
      display: inline-block;
      width: auto;
    }
  }
  .toolbar {
    padding: 0 14px;
  }
}

.editor-view {
  position: relative;
  height: 600px;
  width: 1000px;
  /*          height: 100%;
            width:75% !important;*/
  overflow: hidden;
}

.add-templates {
  position: absolute;
  padding: 0;
  background: lightslategrey;
  padding-bottom: 8px;
  top: 64px;
  display: block;
  left: 83px;
  z-index: 1000;
}

.app-container .toolbar {
  overflow: visible;
}

.mui-svg-icon {
  position: relative;
  height: 24px;
  width: 24px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mui-drop-down-menu {
  height: auto !important;
  .mui-menu-control-bg, .mui-menu-label, .mui-menu-control-underline {
    display: none;
  }
}

.gutter-switch {
  line-height: 31px;
  text-align: center;
}

.gradient-pattern {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  color: rgba(255, 255, 255, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  /* background: -webkit-linear-gradient(90deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), -webkit-linear-gradient(0deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), -webkit-linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), -webkit-linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), rgb(34, 102, 153);
   background: -moz-linear-gradient(0deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), -moz-linear-gradient(90deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), -moz-linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), -moz-linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), rgb(34, 102, 153);
  */
  background: linear-gradient(0deg, #DDD 2px, rgba(0, 0, 0, 0) 2px),
  linear-gradient(90deg, #DDD 2px, rgba(0, 0, 0, 0) 2px),
  linear-gradient(0deg, #DDD 1px, rgba(0, 0, 0, 0) 1px),
  linear-gradient(90deg, #DDD 1px, rgba(0, 0, 0, 0) 1px),
  rgba(0, 0, 0, 0);
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
}
table{
  border: #ccc 1px solid;
}
.table-component {
  color: #000;
  table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: disc;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }

  :focus {
    outline: 0;
  }

  del {
    text-decoration: line-through;
  }

  table {
    border-spacing: 0;
  }

  /* IMPORTANT, I REMOVED border-collapse: collapse; FROM THIS LINE IN ORDER TO MAKE THE OUTER BORDER RADIUS WORK */

  /*------------------------------------------------------------------ */

  /*This is not important*/
  body {
    background: url(background.jpg);
    margin: 0 auto;
    width: 520px;
  }

  a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
  }

  a:visited {
    color: #666;
    font-weight: bold;
    text-decoration: none;
  }

  a:active,
  a:hover {
    color: #bd5a35;
    text-decoration: underline;
  }

  /*
  Table Style - This is what you want
  ------------------------------------------------------------------ */
  table a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
  }

  table a:visited {
    color: #999999;
    font-weight: bold;
    text-decoration: none;
  }

  table a:active,
  table a:hover {
    color: #bd5a35;
    text-decoration: underline;
  }

  table {
    color: #666;
    font-size: 12px;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    border: #ccc 1px solid;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
  }

  table th {
    padding: 21px 25px 22px 25px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;
  }

  table th:first-child {
    text-align: left;
    padding-left: 20px;
  }

  table tr:first-child th:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
  }

  table tr:first-child th:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
  }

  table tr {
    text-align: center;
    padding-left: 20px;
    background: #B42C47;
    font-size: 16px;
    text-transform: capitalize;
  }

  table tr td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;
  }

  table tr td {
    padding: 18px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
  }

  table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
  }

  table tr:last-child td {
    border-bottom: 0;
  }

  table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
  }
  table {
    border-radius: 26px;
    overflow: hidden;
    .head {
      background: #B42C47;
      color: #fff;
      th {
        border: 1px solid #fff;
      }
    }
  }

}

@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('../font/myriad/MYRIADPRO-REGULAR.woff') format('woff');
}

.editor-container {
  font-family: 'Myriad Pro Regular';
  .gutter {
    position:absolute;
    width: 0;
    height: 100%;
    border:2px solid #000;
    left: 50%;
    top: 0;
  }
}
