body,html{
  padding: 0;
  height: 100%;
}
body{
  #main{
    height: 100%;
    .app-container{
      height: 100%;

      nav.tool-bar{
        height: 10%;
      }
      .editor-area{
        height: 90%;

        .tree-view{
          height: 100%;
          min-width: 25%;
          overflow-y: scroll;
          overflow-x: hidden;
          padding-bottom: 4px;
          padding-top: 4px;
          margin:0
        }
        .editor-view{
          position: relative;
          height: 100%;
          width:75% !important;
          overflow: hidden;
        }
      }
    }
  }

}
