.heading-component{
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid green;
    float:right;
    text-align: center;
    font-size: 37px;
    color: #fff;
    /* margin-left: 14px; */
    line-height: 52px;
  }
  .arrow-up span{
    margin-left:-9px
  }
  .rectangle{
    height:50px;
    background-color:green;
    display:block;
    width:100%;
    float:right;
    text-align:center;
    line-height: 45px;
    color: #fff;
  }
  .chaper-heading{
    width:200px;
    overflow:hidden;
  }
}
